<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.basic.repository.MemberMapper">
  <select id="selectEntityAll" resultType="MemberEntity">
    select 
        member_id
      , member_name
      , member_addr
      , member_age
    from member
    <where>
      <if test='memberName != null and memberName != ""'>
        and member_name = #{memberName}
      </if>
      <if test='memberAddr != null and memberAddr != ""'>
        and member_addr like concat('%',#{memberAddr},'%')
      </if>
    </where>
  </select>
  
  <select id="selectEntityById" resultType="MemberEntity">
    select 
        member_id
      , member_name
      , member_addr
      , member_age
    from member 
    where 1=1
      and member_id = #{memberId};
  </select>

  <insert id="insertEntity" parameterType="MemberEntity">
    INSERT INTO member(member_name, member_addr, member_age)
    VALUES(#{memberName}, #{memberAddr}, #{memberAge})
  </insert>

  <update id="updateEntity" parameterType="MemberEntity">
    update member 
    <set>
      <if test='memberName != null and memberName != ""'>
      member_name = #{memberName}
      </if>
      <if test='memberAddr != null and memberAddr != ""'>
      member_addr = #{memberAddr}
      </if>
      <if test="memberAge != null and memberAge != 0">
      member_age = #{memberAge}
      </if>
    </set>
    where 1=1
      and member_id = #{memberId};
  </update>

  <delete id="deleteEntity">
    delete from member
    where member_id = #{memberId};
  </delete>

</mapper>